.comingsoon {
  padding: 1em;
  .header {
    small {
      display: block;
      color: $secondary-text-color;
    }
  }
  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10vw;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2vw;
  }
  .crypto {
    padding-top: 1em;
    width: auto;
    margin: auto;
    display: block;
    .shield {
      margin-left: .5vw;
      margin-right: .5vw;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .comingsoon {
    h1 {
      font-size: 110px;
      letter-spacing: 22px;
    }
  }

}
