.comingsoon {
  padding: 1em;
  .header {
    small {
      display: block;
      color: $secondary-text-color;
    }
  }
  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10vmin;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2vmin;
  }
  .crypto {
    padding-top: 5vh;
    width: auto;
    margin: auto;
    display: block;
  }
}
