@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,200');

$shield-font-size: .75vmax;
$shield-font-size-em: 1em;
$shield-padding: .3em;
$height-1: 6em;

$inner-master-padding: $shield-padding;
$inner-secondary-padding: $shield-padding / 2;

$shield-border-radius: .1em;

.shield {
  height: $height-1;
  display:inline-block;
  table-layout: fixed;
  font-size: $shield-font-size;
  line-height: $shield-font-size-em;

  ._shield {
    @include box-sizing(content-box);
    overflow: auto;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: table-cell;
    width: auto;
    padding-top: $shield-padding * 2;
    padding-bottom: $shield-padding * 2;
  }

  .shield-left {
    @extend ._shield;
    @include border-left-radius($shield-border-radius);
    background: $material-gray-800;
    text-align: right;
    font-weight: 400;
    padding-right: $inner-secondary-padding;
    padding-left: $inner-master-padding;
  }
  .shield-right {
    @extend ._shield;
    @include border-right-radius($shield-border-radius);
    background: $primary-color-dark;
    text-align: left;
    font-weight: 200;
    padding-right: $inner-master-padding;
    padding-left: $inner-secondary-padding;
  }

  @media screen and (min-width: 1135px) {
    ._shield {
      // font-size: 2vh;
      // line-height: 3vh;
      // margin-top: .1vh;
      // margin-bottom: .1vh;
    }

    .shield-right {
      // @include border-left-radius(.25vmax);
      // margin-right: .1vw;
      // font-weight: 300;
    }

    .shield-left {
      // @include border-left-radius(.25vmax);
      // margin-left: .1vw;
      // font-weight: 600;
    }
  }
}
