@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

.shield {
  @include box-sizing(content-box)
  display: inline-block;
  overflow: auto;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 2vh;
  width: 3vw;
  height: 4vh;
  line-height: 4vh;
  margin-top: .1vh;
  margin-bottom: .1vh;
}

.shield-left {
  @extend .shield;
  @include border-left-radius(.25vmax);
  background: $material-gray-800;
  margin-left: .1vw;
  text-align: center;
}
.shield-right {
  @extend .shield;
  @include border-right-radius(.25vmax);
  background: $primary-color-dark;
  margin-right: .1vw;
  text-align: center;
}
