$primary-color-dark:   #FF3333;
$primary-color:        #FF6666;
$primary-color-light:  #FFCCCC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$material-gray-800: #424242;

$header-text-color: #660000
