@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600|Roboto+Condensed:300,400,400i,700|Roboto:300,400,700');

@media screen and (min-width: 480px) {
  * {
     font-size: 3vmin;
  }
}

* {
   font-size: 5vmin;
   font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 1000px) {
  * {
     font-size: 3vmin;
  }
}

body {
  background: #f1f1f1;
  padding-top: 30px;
  color: $primary-text-color;
}

a:link {
  color: $primary-color
}

a:visited {
  color: $primary-color-light
}

a:hover {
  color: $primary-color-dark !important
}

a:focus {
  color: $primary-color-dark !important
}

a:active {
  color: $primary-color-dark
}

.fa {
  padding-right: 1vh;
}

@media screen and (min-width: 1000px) {
  .fa {
    padding-right: 1.5vh;
  }
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
