@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600|Roboto+Condensed:300,400,400i,700|Roboto:300,400,700');

@media (min-width: $screen-sm-min) {
  * {
     font-size: 3vmin;
  }
}

* {
   font-size: 5vmin;
   font-family: 'Open Sans', sans-serif;
}

@media (min-width: $screen-md-min) {
  * {
     font-size: 3vmin;
  }
}

body {
  background: #f1f1f1;
  padding-top: 30px;
  color: $primary-text-color;
}

a:link {
  color: $primary-color
}

a:visited {
  color: $primary-color-light
}

a:hover {
  color: $primary-color-dark !important
}

a:focus {
  color: $primary-color-dark !important
}

a:active {
  color: $primary-color-dark
}

.fa {
  padding-right: 1vh;
}

@media (min-width: $screen-md-min) {
  .fa {
    padding-right: 1.5vh;
  }
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}
